// Place all the styles related to the form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form > input {
  display: block;
}

.block {
  display: block;
}

.field {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-special {
  float: left;
}

input[type=submit] {
  margin-top: 60px;
  width: 20em;  
  height: 4em;
}

.special-item {
  border: 2px solid black;
  border-radius: 5px;
  padding: 30px;
  margin-top: 15px;
}

.special-list {
  list-style-type: none;
}

.delete {
  position: relative;
  top: 20px;
  color: red;
  margin-left: 90%;
}

.delete-special {
  margin-left: 85%;
}